<p-confirmDialog #cd header="Confirmation" icon="pi pi-exclamation-triangle">
    <p-footer>
        <div class="input">montant:<input [(ngModel)]="montantEnchere"></div>
        <button type="button" pButton icon="pi pi-check" label="Yes" (click)="cd.accept()"></button>
    </p-footer>
</p-confirmDialog>



<div>
    <div class="flex">
        <h1>{{jukebox.nom}} playing {{jukebox.playlist.nom}}</h1>
    </div>

    <p-toggleButton  label=" " [(ngModel)]="checked" ngDefaultControl (onChange)="toggleChange()"
    offIcon="pi pi-heart" onIcon="pi pi-times" onLabel="" styleClass="p-button-rounded p-button-help"></p-toggleButton>


    <app-youtube #youtube (next)="nextTitre($event)" [titre]="titreEnCours"></app-youtube>



    <div class="titres">
        <p-table [columns]="cols" [value]="jukebox.playlist.titres" [scrollable]="true" [rows]="100" scrollHeight="70vh"
            [virtualScroll]="true" [virtualRowHeight]="20">
            <ng-template pTemplate="header" let-columns>
                <tr>
                    <th *ngFor="let col of columns">
                        {{col.header}}
                    </th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-titre>
                <tr>
                    <td>
                        {{titre.id}}
                    </td>
                    <td>
                        {{titre.artiste}}
                    </td>
                    <td>
                        {{titre.lien}}
                    </td>
                    <td>
                        {{titre.nom}}
                    </td>
                    <td>
                        <button (click)="encherir(titre)" pButton icon="pi pi-check" label="Confirm"></button>
                        <!-- <button (click)="encherir(titre)">Enchérir</button> -->
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </div>

    <div class="flex titre">

        <div *ngIf="titreEnCours else loading">
            <h2>{{titreEnCours.nom}} - {{titreEnCours.artiste}}</h2>
        </div>

        <ng-template #loading>
            <h2>Loading...</h2>
        </ng-template>
    </div>


</div>