.essai{
    padding-left:'60%'
}
#myVideo {
    right:0%;
    top:-3.25%;
    bottom: 0%;
    left:0%;
    max-width: 100%; 
    min-width: 100%;
    position: fixed;
    z-index:-1;
    opacity:0.9;
}

#tab {
    color: white;
    padding-left:60%;
    padding-top: 2%;
}

#tab2 {
    color: white;
    padding-top: 2%;
    padding-left:60%;
}

#buton {
    padding-top: 2%;
    padding-left:2%;
}