.center {
  text-align: center;
  font-size: x-large;
  font-weight: bold;
  margin: 10px;
}

input{
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
  
button[type=submit] {
  width: 100%;
  background-color: #4c90af;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
  
button[type=submit]:hover {
  background-color:  #4c90af;
}
  
.grey {
  border-radius: 5px;
  background-color: #f2f2f2;
}

@media screen and (min-width: 800px) {
  .grey{
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    margin: auto;
  }
  .img{
    background-image: url("../../assets/login/backLogin.png") ; 
    background-size: cover;
    width: 20%;
    padding:initial;
    z-index: index -10;
    margin: auto;
  }
}

.img{
  background-image: url("../../assets/login/backLogin.png") ; 
  background-size: cover;
  width: 100%;
  padding: 200px;
  z-index: index -10;;
}