<p-confirmDialog [style]="{width: '50vw'}" [baseZIndex]="10000"></p-confirmDialog>
<p-messages [value]="msgs"></p-messages>
<button pButton type="button" [routerLink]="['/playlists/create']" label="Créer une playlist" class="p-button-info" icon="pi pi-plus-circle"></button>
<button pButton type="button" [routerLink]="['/playlists/import']" label="Import via Youtube" class="p-button-danger" icon="pi pi-youtube"></button>
<p-table *ngIf="playlists" [value]="playlists" [paginator]="true" [rows]="10" [showCurrentPageReport]="true"
    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [rowsPerPageOptions]="[10,15,20]">
    <ng-template pTemplate="header">
        <tr>
            <th></th>
            <th>Nom</th>
            <th>Date de création</th>
            <th></th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-playlist>
        <tr>
            <td><a [routerLink]="['/playlists', playlist.id]"><i class="pi pi-folder-open"></i></a></td>
            <td><span (click)="editMode = true" *ngIf="!editMode">{{playlist.nom}}</span><input *ngIf="editMode" (focusout)="onFocusOut($event, playlist)" value="{{playlist.nom}}"></td>
            <td>{{playlist.dateCreation | date: 'dd/MM/yyyy'}}</td>
            <td><p-button [disabled]="playlist.createur && playlist.createur.id==userId ? false : true" (click)="playlist.createur && playlist.createur.id==userId ? confirm1(playlist) : null" icon="pi pi-trash" label="Supprimer"></p-button></td>
        </tr>
    </ng-template>
</p-table>