<div class="img">
    <div class="grey">

        <form *ngIf="!isSuccessful" name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>

            <div class="form-group">
                <div class="col-25">
                    <label for="nom">Nom</label>
                </div>
                <input type="text" class="form-control" name="nom" [(ngModel)]="nomJukebox" required minlength="3"
                    maxlength="20" #nom="ngModel" />
                <div class="alert-danger" *ngIf="nom.errors && f.submitted">
                    <div *ngIf="nom.errors.required">Le nom est nécessaire !</div>
                    <div *ngIf="nom.errors.minlength">
                        Le nom doit contenir au minimum 3 caractères
                    </div>
                    <div *ngIf="nom.errors.maxlength">
                        Le nom doit contenir au maximum 20 caractères
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="col-25">
                    <label for="nom">Type Enchere</label>
                </div>
                <select [(ngModel)]="selectedType" name="type" #type="ngModel" required> 
                    <option *ngFor="let t of typeJukebox" [ngValue]='t.code'>{{t.nom}}</option>
                </select>
                <div class="alert-danger" *ngIf="type.errors && f.submitted">
                    <div *ngIf="type.errors.required">Le nom est nécessaire !</div>
                </div>
            </div>



            <div class="form-group">
                <div class="col-25">
                    <label for="nom">Playlist</label>
                </div>
                <select [(ngModel)]="selectedPlaylist" name="playlist" #playlist="ngModel" required> 
                    <option *ngFor="let p of playlists" [ngValue]="p">{{p.nom}}</option>
                </select>
                <div class="alert-danger" *ngIf="playlist.errors && f.submitted">
                    <div *ngIf="playlist.errors.required">La playlist est nécessaire !</div>
                </div>
            </div>


            <div class="form-group">
                <div *ngIf="attente" class="spinner"><i class="pi pi-spin pi-spinner" style="font-size: 2rem;"></i>
                </div>
                <button *ngIf="!attente" type="submit">Créer</button>
            </div>

            <div class="alert alert-warning" *ngIf="f.submitted && isCreateFailed">
                La création du Jukebox a échoué !<br />{{ errorMessage }}
            </div>
        </form>

        <div class="alert alert-success" *ngIf="isSuccessful">
            La création du Jukebox a réussi !
        </div>
    </div>
</div>