<p-table *ngIf="titres" [value]="titres"   [paginator]="true" 
            [rows]="10" [showCurrentPageReport]="true" 
            currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [rowsPerPageOptions]="[10,15,20]">
    <ng-template pTemplate="header">
        <tr>
            <th>Nom</th>
            <th>Artiste</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-titre>
        <tr>
            <td>{{titre.nom}}</td>
            <td>{{titre.artiste}}</td>
        </tr>
    </ng-template>
</p-table>